html {
    background: white;
    font-family: serif;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 2em;
}

body {
    display: grid;
    grid-template-columns: 1em auto 2em;
}

.page {
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 60em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2em;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

ul li, ol li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.pageheader {
    font-family: monospace;
    margin-bottom: 2em;
}

.pageheader span.title {
    display: block;
    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 0.5em;
}

div#pagebody {
}

div.pagefooter {
    font-family: monospace;
    margin-top: 3em;
}

span.date, .pagedate {
    font-family: monospace;
}

.tags {
    font-family: monospace;
}

.inlineheader {
    display: block;
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.inlinepage {
    margin-top: 3em;
    margin-bottom: 3em;
}

.inlinefooter {
    font-family: monospace;
}

.float_right {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

span.archivepagedate {
    font-family: monospace;
}

/* orange feed button */
.feedbutton {
    background: #ff6600;
    color: white !important;
    border-left: 1px solid #cc9966;
    border-top: 1px solid #ccaa99;
    border-right: 1px solid #993300;
    border-bottom: 1px solid #331100;
    padding: 0px 0.5em 0px 0.5em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    margin-top: 1em;
}
.feedbutton:hover {
    color: white !important;
    background: #ff9900;
}

div.wisdom {
    margin-left: 100px;
    margin-bottom: 50px;
    padding-bottom: 0;
    border-bottom: 0;

}

div.wisdom p.quote {
    font-size: 200%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.smallestPC { font-size: 80%; }
.smallPC { font-size: 100%; }
.normalPC { font-size: 120%; }
.bigPC { font-size: 150%; }
.biggestPC { font-size: 200%; }


table {
    border: 0px;
    width: 100%;
}

th {
    font-weight: bold;
}

tr {
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
